* {
    margin: 0;
    padding: 0;
}


/* Container */
.container {
    background: url(images/bg.jpg);
    width: 100%;
    height: 769px;
    background-position: center;
}

.containerr {
    width: 100%;
height: 65px;
left: 0px;
top: 0px;

background: #FFFFFF;
border: 1px solid #E6E6E6;
box-sizing: border-box;
}

.containeer {
    width:100%;
    height: 1440px;
    background: #FFFFFF;
    box-sizing: border-box;
}

.containerrr {
 background: url(images/город.png);
 width: 1440px;
 height: 499px;
 left: calc(50% - 1440px/2);
 margin-top: 250px;
 margin-left: -680px;
}

.containeerrr {
width: 1440px;
height: 100px;
margin-left: -680px;
margin-top: -20px;

background: #171819;
}

.containerbox {
    width: 1440px;
    height: 240px;
    margin-left: -680px;
    margin-top: 25px;
    background: #141A20;
}

.container__box__div{
    display:inline-block;
}


/* Intro */
.intro__suptitle {
    width: 70%;
height: 60px;
padding-left: 27%;
padding-top: 380px;

font-family: 'Bebas Neue', cursive;
font-size: 60px;
line-height: 70px;
text-align: center;
display: flex;
letter-spacing: 5.70937px;

display: flex;

color: #FFFFFF;
}

.intro__title {
    width: 40%;
height: 22px;
padding-left: 35%;
padding-top: 5px;


    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 19px;
    text-align: center;
    display: flex;
    color: #FFFFFF;
}

.intro__overtitle {
width: 117px;
height: 15px;
padding-left: 575px;
padding-top: 215px;

font-family: 'Open Sans', sans-serif;
font-size: 11px;
line-height: 13px;
display: flex;
align-items: flex-end;
text-align: center;
letter-spacing: 3.7px;

color: #FFFFFF;
}

.intro__suptitlee {
    position: absolute;
    width: 405px;
    height: 81px;
    margin-left: -810px;
    margin-top: -260px;

    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    line-height: 23px;

    letter-spacing: 0.1875px;

    color: #48555B;

}

.intro__suptitlee:hover {
    text-decoration: underline;
    text-decoration-color: #00A4E5;
}


.intro__titlee {
    width:405px;
height: 115px;
margin-left: -810px;
margin-top: -140px;

font-family: 'Open Sans', sans-serif;
font-size: 13px;
line-height: 23px;

display: flex;
align-items: center;
letter-spacing: 0.1875px;

color: #48555B;
}

.intro__titlee:hover {
    text-decoration: underline;
    text-decoration-color: #00A4E5;
}

.intro__text {
    width: 405.4px;
height: 38px;
margin-left: -453px;
margin-top: -21px;

font-family: 'Open Sans', sans-serif;
font-size: 12px;
line-height: 19px;
display: flex;
align-items: center;
letter-spacing: 0.2px;

color: #48555B;
}

.intro__text:hover {
    text-decoration: underline;
    text-decoration-color: #00A4E5;
}



/* Header*/
.header {
    width:100%;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.headerr__logo {
    width: 121px;
height: 25px;
padding-left: 575px;
margin-top: -1390px;

font-family: 'Open Sans', sans-serif;
text-align: center;
font-size: 18px;
line-height: 21px;
display: flex;
letter-spacing: 2.30625px;

color: #48555B;
}

#top hr {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    margin-left: 607px;
    margin-top: 10px;
    
    
    background-color: #00A4E5;

}

.header__logotip {
    width: 100%;
    height: 25px;
    margin-left: -810px;
    margin-top: 119px;

    font-family: 'OpenSans';
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 2.30625px;

    color: #48555B;
}

.header__logotip:hover {
    text-decoration: underline;
    text-decoration-color: #00A4E5;
}

#bottom hr{
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    margin-left: -810px;
    margin-top: 2px;

    background-color: #00A4E5;
}


/* Nav */
.nav {
    font-size: 12px;

}

.nav__link {
    color: #48555B;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    vertical-align: top;
    margin: 0 39px;
    position: relative;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    display: none;

    background: #00A4E5;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}

.nav__link:hover:after {
    display: block;
}

.nav__linkk {
    font-family: 'Open Sans', sans-serif;
    color: #00A4E5;
    text-decoration: none;
    font-size: 12px;
    margin: 0 39px;
    position: relative;
}

.nav__linkk:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    display: none;

    background: #00A4E5;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}

.nav__linkk:hover:after {
    display: block;
}


/* About */
.about__img {
    
height: 300px;
margin-left: 645px;
margin-top: 100px;
box-sizing: border-box;
}

.about__imgg {
    
    height: 300px;
    margin-left: 170px;
    margin-top: -227px;
}

.about__imggg {

    height: 300px;
    margin-left: 170px;
    margin-top: -227px;
}



background: #FFFFFF;
}

#konstruct{
    color:#00A4E5;
}


/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 9px 17px;
    border: 2px solid #00A4E5;
    background: #00A4E5;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    margin-top: -33px;
}

.btnn {
    display: inline-block;
    vertical-align: top;
    padding: 9px 17px;
    border: 2px solid #00A4E5;
    background: #00A4E5;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    margin-top: -290px;
    margin-left: 70px;
}

.bbtn {
    display: inline-block;
    vertical-align: top;
    padding: 6px 50px;
    border: 2px solid #00A4E5;
    background: #00A4E5;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 328px;
    margin-top: -27px;
}


#rectangle {
    width: 295px;
    height: 330px;
    margin-left: -810px;
    margin-top: 70px;
    border: 1px solid #E6E6E6;
    background:#FFFFFF;
}

.rectangle__img {
    width: 65.62px;
height: 75px;
padding-left: 23px;
padding-top: 38px;
}

.rectangle__title {
    width: 250px;
    height: 48px;
    margin-left: 3px;
    padding-top: 18px;

   font-family: 'Open Sans', sans-serif;
   font-size: 17px;
   line-height: 24px;
   align-items: center;
  letter-spacing: 0.426667px;
   color: #48555B;
}

.rectangle__title:hover {
    text-decoration: underline;
    text-decoration-color: #00A4E5;
}

.rectangle__suptitle {
    width: 250px;
height: 92px;
left: 23px;
padding-top: 15px;

font-family: 'Open Sans', sans-serif;
font-size: 13px;
line-height: 23px;
display: flex;
align-items: center;
letter-spacing: 0.1875px;

color: #48555B;
}

#rectanglee {
    width: 295px;
    height: 330px;
    margin-left: -483px;
    margin-top: -332px;
    border: 1px solid #E6E6E6;
    background:#FFFFFF;
}

.rectanglee__img {
    width: 65.62px;
height: 75px;
padding-left: 23px;
padding-top: 38px;
}

.rectanglee__title {
    width: 250px;
    height: 48px;
    margin-left: 3px;
    padding-top: 18px;

   font-family: 'Open Sans', sans-serif;
   font-size: 17px;
   line-height: 24px;
   align-items: center;
  letter-spacing: 0.426667px;
   color: #48555B;
}

.rectanglee__title:hover {
    text-decoration: underline;
    text-decoration-color: #00A4E5;
}

.rectanglee__suptitle {
    width: 250px;
height: 92px;
left: 23px;
padding-top: 15px;

font-family: 'Open Sans', sans-serif;
font-size: 13px;
line-height: 23px;
display: flex;
align-items: center;
letter-spacing: 0.1875px;

color: #48555B;
}

#rectangleee {
    width: 295px;
    height: 330px;
    margin-left: 325px;
    margin-top: -114px;
    border: 1px solid #E6E6E6;
    background:#FFFFFF;
}

.rectangleee__img {
    width: 65.62px;
height: 75px;
padding-left: 353px;
margin-top: -292px;
}

.rectangleee__title {
    width: 250px;
    height: 48px;
    margin-left: 1px;
    padding-top: 18px;

   font-family: 'Open Sans', sans-serif;
   font-size: 17px;
   line-height: 24px;
   align-items: center;
  letter-spacing: 0.426667px;
   color: #48555B;
}

.rectangleee__title:hover {
    text-decoration: underline;
    text-decoration-color: #00A4E5;
}

.rectangleee__suptitle {
    width: 250px;
height: 92px;
left: 23px;
padding-top: 15px;

font-family: 'Open Sans', sans-serif;
font-size: 13px;
line-height: 23px;
display: flex;
align-items: center;
letter-spacing: 0.1875px;

color: #48555B;
}

.rrectanglee {
    display: inline-block;
    vertical-align: top;
    padding: 17px 120px;
    border: 2px solid #FFFFFF;
    background: #FFFFFF;
    margin-left: 85px;
    margin-top: -70px;
}

.rrectanglee__title {
font-family: 'Open Sans', sans-serif;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: flex-end;
letter-spacing: 0.07px;
color: #48555B;
margin-left: 100px ;
margin-top: -77px;
}

.rrectanglee__title:hover {
    text-decoration: underline;
    text-decoration-color: #00A4E5;
}



.gorod__title {
    width: 350px;
height: 82px;
margin-left: 645px;
padding-top: 95px;
font-family: 'Open Sans', sans-serif;
font-size: 35px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.15px;

color: #48555B;
}

.polosa__title {
    width: 216px;
height: 30px;
margin-left: 438px;
padding-top: 35px;

font-family: 'Open Sans', sans-serif;
font-size: 22px;
line-height: 26px;
display: flex;
align-items: flex-end;
text-align: center;
letter-spacing: 0.846154px;

color: #FFFFFF;
}

.box__title {
    width: 308px;
height: 15px;
margin-left: 671px;
padding-top: 23px;

font-family: 'Open Sans', sans-serif;
font-size: 11px;
line-height: 13px;
display: flex;
align-items: flex-end;
letter-spacing: 0.846154px;

color: #FFFFFF;
}

.box__title:hover {
    text-decoration: underline;
    text-decoration-color: #00A4E5;
}

.containerbox__title {
    width: 59px;
    height: 15px;
    margin-left: 300px;
    padding-top: 40px;

    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
}

.containerbox__title:hover {
    text-decoration: underline;
    text-decoration-color: #00A4E5;
}

.containerbox__suptitle {
    width: 250px;
height: 76px;
margin-left: 300px;
padding-top: 72px;

font-family: 'Open Sans', sans-serif;
font-size: 11px;
line-height: 19px;
align-items: center;
letter-spacing: 0.85px;
color: #FFFFFF;
}

.containerbox__suptitle:hover {
    text-decoration: underline;
    text-decoration-color: #00A4E5;
}

.containerbox__titlee {
    width: 34px;
    height: 15px;
    margin-left: 630px;
    margin-top: -163px;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.846154px;
    
    color: #FFFFFF;
}

.containerbox__titlee:hover {
    text-decoration: underline;
    text-decoration-color: #00A4E5;
}

.containerbox__tittle {
    width: 75px;
    height: 15px;
    margin-left: 930px;
    margin-top: -12px;

    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
}

.containerbox__tittle:hover {
    text-decoration: underline;
    text-decoration-color: #00A4E5;
}

.containerbox__text {
    width: 141px;
height: 128px;
margin-left: 930px;
top: 30px;
font-family: 'Open Sans', sans-serif;
font-size: 11px;
line-height: 16px;
display: flex;
align-items: center;
letter-spacing: 0.846154px;
color: #FFFFFF;
}

.containerbox__text:hover {
    text-decoration: underline;
    text-decoration-color: #00A4E5;
}
/* Box */
.box {
    width: 1440px;
height: 60px;
margin-left: -680px;
top: 0px;
background: #171819;
}
